.post-type-archive-testimonials {
	.testimonial {
		padding: 6rem;
		background-color: rgba($brand-fuscia, .1);
		margin: 4rem auto;
		text-align: center;
		position: relative;
		@media(max-width: $phablet) {
			padding: 3rem;
		}
		.quotes {
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			position: absolute;
			&:before,
			&:after, {
				content: '"';
				position: absolute;
				font-family: $font-family-headline;
				font-size: 12rem;
				line-height: 12rem;
				color: #FFF;
			}
			&:before {
				top: 2rem;
				left: 2rem;
			}
			&:after {
				bottom: 2rem;
				right: 2rem;
				transform: scaleY(-1);
			}
			@media(max-width: $phablet) {
				&:before,
				&:after {
					font-size: 8rem;
				}
				&:before {
					top: 0rem;
					left: 1rem;
				}
				&:after {
					bottom: 0rem;
					right: 1rem;
				}
			}
		}
		.testimonial__heading {
			display: flex;
			align-items: center;
			justify-content: center;
			h2, span {
				font-size: 2rem;
				color: $brand-grey-md;
				margin: 0;
			}
			span {
				&:before {
					content: '/';
					margin-left: 1rem;
				}
			}
			@media(max-width: $phablet) {
				flex-direction: column;
				span {
					&:before {
						display: none;
					}
				}
			}
			
		}
		.testimonial_content {
			font-family: $font-family-callout;
			p {
				font-size: 2rem;
				color: $brand-grey-md;
			}
		}
		&:before {
			content: '';
			width: 42px;
			height: 42px;
			background-image: url(./assets/heart-icon.svg);
			background-size: contain;
			background-repeat: no-repeat;
			position: absolute;
			top: -1.5rem;
			left: 50%;
			transform: translateX(-50%);
			opacity: 0.1;
			z-index: 1;
		}
		&:after {
			content: '';
			width: 64px;
			height: 64px;
			background-color: #FFF;
			top: -34px;
			left: 50%;
			transform: translateX(-50%);
			z-index: 0;
			position: absolute;
			border-radius: 100%;
		}
	}
}