figure {
	margin: 0;
}

img {
	height: auto;
	max-width: 100%;
}

article {
	img {
		clear: both;
		display: block;
		margin: 0 auto 1rem;

		@media(min-width: 768px){
			&.aligncenter{
				
			}
			&.alignnone{
				display: inline-block;
				margin-right: 0;
				margin-left: 0;
			}
			&.alignleft,
			&.alignright {
				max-width: 50%;
			}
			&.alignleft {
				clear: left;
				float: left;
				margin: 0 1rem 1rem 0;
			}
			&.alignright {
				clear: right;
				float: right;
				margin: 0 0 1rem 1rem;
			}
		}
	}

	figure[style] {
		border: 0.25rem solid #ddd;
		clear: both;
		margin: 0 auto 1rem;
		max-width: 100% !important;

		@media(min-width: 768px){
			&.alignnone{
				display: inline-block;
				margin-right: 0;
				margin-left: 0;
			}
			&.alignleft,
			&.alignright {
				max-width: 50% !important;
			}
			&.alignleft {
				clear: left;
				float: left;
				margin: 0 1rem 1rem 0;
			}
			&.alignright {
				clear: right;
				float: right;
				margin: 0 0 1rem 1rem;
			}
		}

		img {
			margin: 0;
		}

		figcaption {
			background: #eaeaea;
			font-size: 0.9rem;
			padding: 1rem;
		}
	}
}

//wordpress default gallery
// .gallery {
// 	//align-items: center;
// 	clear: both;
// 	display: flex;
// 	flex-wrap: wrap;
// 	margin: 2rem -2rem;
// 	overflow: hidden;
	
// 	@media screen and (max-width: $tablet) {
// 		margin: 0 -1rem;
// 	}

// 	.gallery-item {
// 		display: block;
// 		float: left;
// 		margin: 0;
// 		padding: 2rem;
// 		vertical-align: middle;
		
// 		@media screen and (max-width: $tablet) {
// 			//margin: 1rem 0;
// 			padding: 1rem;
// 		}

// 		img {
// 			display: block;
// 			margin: 0;
// 			width: 100%;
// 		}
		
// 		.portrait{
// 			img{
// 				margin: 0 auto;
// 				width: 50%;
// 			}
// 		}
// 	}
	
// 	figcaption{
// 		//font-style: italic;
// 	}
// }

// .gallery-columns-1 {

// 	.gallery-item {
// 		width: 100%;
// 		max-width: 100%;
// 	}
// }

// .gallery-columns-2 {

// 	.gallery-item {
// 		width: 50%;
// 		max-width: 50%;

// 		@media screen and (max-width: $phablet) {
// 			width: 100%;
// 			max-width: 100%;
// 		}
// 	}
// }

// .gallery-columns-3 {

// 	.gallery-item {
// 		width: 33.3333%;
// 		max-width: 33.3333%;

// 		@media screen and (max-width: $tablet) {
// 			width: 50%;
// 			max-width: 50%;
// 		}

// 		@media screen and (max-width: $phablet) {
// 			width: 100%;
// 			max-width: 100%;
// 		}
// 	}
// }

// .gallery-columns-4 {

// 	.gallery-item {
// 		width: 25%;
// 		max-width: 25%;

// 		@media screen and (max-width: $tablet) {
// 			width: 50%;
// 			max-width: 50%;
// 		}

// 		@media screen and (max-width: $phablet) {
// 			width: 100%;
// 			max-width: 100%;
// 		}
// 	}
// }

// .gallery-columns-5 {

// 	.gallery-item {
// 		width: 20%;
// 		max-width: 20%;

// 		@media screen and (max-width: $tablet) {
// 			width: 50%;
// 			max-width: 50%;
// 		}

// 		@media screen and (max-width: $phablet) {
// 			width: 100%;
// 			max-width: 100%;
// 		}
// 	}
// }

// .gallery-columns-6 {

// 	.gallery-item {
// 		width: 16.666%;
// 		max-width: 16.666%;

// 		@media screen and (max-width: $tablet) {
// 			width: 33.333%;
// 			max-width: 33.333%;
// 		}

// 		@media screen and (max-width: $phablet) {
// 			width: 50%;
// 			max-width: 50%;
// 		}
// 	}
// }

// .gallery-columns-7 {

// 	.gallery-item {
// 		width: 14.28%;
// 		max-width: 14.28%;

// 		@media screen and (max-width: $tablet) {
// 			width: 33.333%;
// 			max-width: 33.333%;
// 		}

// 		@media screen and (max-width: $phablet) {
// 			width: 50%;
// 			max-width: 50%;
// 		}
// 	}
// }

// .gallery-columns-8 {

// 	.gallery-item {
// 		width: 12.5%;
// 		max-width: 12.5%;

// 		@media screen and (max-width: $tablet) {
// 			width: 25%;
// 			max-width: 25%;
// 		}

// 		@media screen and (max-width: $phablet) {
// 			width: 50%;
// 			max-width: 50%;
// 		}
// 	}
// }


// .gallery-columns-9 {

// 	.gallery-item {
// 		width: 11.111%;
// 		max-width: 11.111%;

// 		@media screen and (max-width: $tablet) {
// 			width: 25%;
// 			max-width: 25%;
// 		}

// 		@media screen and (max-width: $phablet) {
// 			width: 50%;
// 			max-width: 50%;
// 		}
// 	}
// }